/* Custom design and add to Bootstrap */

body
{
	cursor: none !important;
}

.custom-font
{
	font-family: 'Gugi', sans-serif;
}

.custom-h1
{
	font-size: calc(1.375rem + 4.5vw);
	color : #3CD6EB;
}

.custom-h2
{
	font-size: calc(1.1rem + 2vw);
	color : #3CD6EB;
}

.custom-underline
{
	text-decoration: underline;
	text-decoration-color: #fff;
}

.custom-btn
{
	font-size: calc(1.375rem + 2.5vw);
	color: #3CD6EB;
	border: none;
	background: none;
	cursor: pointer;
	transition: color 0.3s ease;
	cursor: none;
}

.custom-btn:hover
{
	color: #fff;
	cursor: none;
}

.custom-carousel
{
	max-width: 50%;
}

.custom-btn-back
{
	font-size: calc(1rem + 1vw);
	color: #3CD6EB;
	border: none;
	background: none;
	cursor: pointer;
	transition: color 0.3s ease;
	cursor: none !important;
}

/* Card's Design */

.card
{
	width: 90%;
	max-width: 500px;
	max-height: 400px;
	padding: 3rem 1rem;

	border-radius: 3rem;
	border: 1px solid transparent;

	backdrop-filter: blur(1rem);
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(60, 214, 235);

	border-top-color: rgba(60, 214, 235, 0.5);
	border-left-color: rgba(60, 214, 235, 0.5);
	border-bottom-color: rgba(60, 214, 235);
	border-right-color: rgba(60, 214, 235);
	cursor: none;
}

.card-text
{
	max-height: 150px;
	font-size: calc(0.6rem + 0.6vw);
	text-align: justify;
	overflow: auto;
	cursor: none;
	margin-top: 2.5rem;
	margin-bottom: 0.5rem;
}

.card-title
{
	font-size: calc(1rem + 1vw); /* Taille de police responsive */
	color: #3CD6EB;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

/* Cursor's Design */

.cursor-dot
{
	width: 5px;
	height: 5px;
	background-color: #3CD6EB;
}

.cursor-outline
{
	width: 30px;
	height: 30px;
	border: 2px solid rgba(60, 214, 235);
}

.cursor-dot,
.cursor-outline
{
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 9999;
	pointer-events: none;
}

.btn
{
	cursor: none !important;
}

/* Button's Animation */

.tracking-in-expand{animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}

@keyframes tracking-in-expand
{
	0%
	{
		letter-spacing: -.5em;
		opacity: 0;
	}
	40%
	{
		opacity: .6;
	}
	100%
	{
		opacity: 1;
	}
}

/* Background effect with floating dots */

.custom-background-spot
{
	position: fixed;
	width: 5vw;
	height: 5vw;
	background-image: radial-gradient(closest-side, rgba(60, 214, 235, 0.5) 0%, rgba(60, 214, 235, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
	border-radius: 50%;
	filter: blur(8px);
	z-index: -1;
}

@keyframes floatAnimation1
{
	0%, 100% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(10px, 10px) rotate(20deg); }
	50% { transform: translate(20px, 0) rotate(40deg); }
	75% { transform: translate(10px, -10px) rotate(60deg); }
}

@keyframes floatAnimation2
{
	0%, 100% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(-10px, 15px) rotate(-20deg); }
	50% { transform: translate(-20px, 5px) rotate(-40deg); }
	75% { transform: translate(-10px, 10px) rotate(-60deg); }
}

@keyframes floatAnimation3
{
	0%, 100% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(5px, -20px) rotate(30deg); }
	50% { transform: translate(15px, -30px) rotate(60deg); }
	75% { transform: translate(5px, -40px) rotate(90deg); }
}

/* Modal options */

.modal-title
{
	font-size: calc(1rem + 1vw);
	color: #3CD6EB;
}

.modal-body
{
	font-size: calc(0.6rem + 0.6vw);
	text-align: justify;
}

/* Footer */

.text-muted
{
	color : rgb(60, 214, 235, 0.3) !important;
	font-size : calc(0.5rem + 0.5vw);
}

.custom-select
{
	background: transparent;
	border: none;
	cursor : none;
	border: none;
	color : rgb(60, 214, 235, 0.3) !important;
	font-size : calc(0.5rem + 0.5vw);
}

.custom-btn-footer
{
	background: transparent;
	border: none;
	color : rgb(60, 214, 235, 0.3) !important;
	font-size : calc(0.5rem + 0.5vw);
	appearance: none;
}

.custom-btn-footer:hover
{
	background-color: transparent;
}

#dropdownLang:disabled
{
	background-color: transparent;
}

/* Modal for tournament */

.custom-input
{
	font-size: calc(0.5vw + 0.5vh);
	height: calc(0.8vw + 0.8vh);
}

/* Custom switch button */

.form-check-input:checked
{
	background-color: #3CD6EB;
	border-color: #3CD6EB;
}

/* Custom history menu */

.nav-link.active
{
	background-color: #3CD6EB !important;
	color: #fff !important;
}

.nav-link
{
	color: #3CD6EB;
	font-size: calc(0.7rem + 0.7vw);
}

.nav-link:hover
{
	color: #fff;
}

.nav-item .nav-link
{
	cursor: none !important;
}

/* Custom game display */

.webgl-display
{
	width: 72%;
	height: auto;
	border: 3px solid #3CD6EB;
	aspect-ratio: 125 / 100;
}
